services:
  backend:
    image: ghcr.io/capstone-design-quantimizer/quantimizer-system/backend:latest
    container_name: quant-backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"

  frontend:
    image: ghcr.io/capstone-design-quantimizer/quantimizer-system/frontend:latest
    container_name: quant-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  loki:
    image: grafana/loki:2.9.6
    container_name: loki
    restart: always
    command: -config.file=/etc/loki/config.yaml
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml:ro
      - loki-data:/loki

  promtail:
    image: grafana/promtail:2.9.6
    container_name: promtail
    restart: always
    command: -config.file=/etc/promtail/config.yaml
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./promtail-config.yaml:/etc/promtail/config.yaml:ro
    depends_on:
      - loki

  grafana:
    image: grafana/grafana:10.4.3
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=${GF_SECURITY_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_SECURITY_ADMIN_PASSWORD}
    volumes:
      - grafana-data:/var/lib/grafana
    depends_on:
      - loki

volumes:
  grafana-data:
    driver: local
  loki-data:
    driver: local
